/* ------------------------------
            $VARIABLES
------------------------------- */

/* -------- $COLORS----------- */
$primary-color: #40e0d0;
$left-color: #ffefd5;
$center-color: #ff1493;
$right-color: #e0ffff;
$background: linear-gradient(to right top, #ebeb14, #ffb600, #ff7b3d, #ff3d6b, #eb1296);

/* ------------$FONTS--------------- */
$font-stack: 'Lato', sans-serif;